html, body {
    margin: 0;
    height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  width: 100%;
  background-size: 100% 100%;
  transition: background-image 1.3s ease-in-out;
}

a {
  color: #00B7FF;
}

/* Character Select CSS Start */

#character_body {
   background-image: url("/assets/img/character_select_background.jpg");
}

.thumbnail {
  background: none;
  border: none;
}

.thumbnail img{        
  max-height: 147px;
}

#login_container {
  width: 50%;
  height: 50%;
  position: relative;
  top: 30%;

}

#login_header {
  text-align: center;
  border: solid 1px white;
  background: white;
  padding: 10%;
  border-radius: 5px;
  opacity: 0.9;
}

#background {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#character_container {
  background-image: url("/assets/img/character_select_foreground.png");
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#first_character {
  background-image: url("/assets/img/character_select_door1.jpg");
}

#second_character {
  background-image: url("/assets/img/character_select_door2.jpg");
}

#third_character {
  background-image: url("/assets/img/character_select_door3.jpg");
}

#fourth_character {
  background-image: url("/assets/img/character_select_door4.jpg");
}
/* Character Select CSS End */
