html, body {
    margin: 0;
    height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background-image 1.3s ease-in-out;
}

a {
  color: #00B7FF;
}

.thumbnail img{        
  max-height: 147px;
}

#login-container {
  width: 50%;
  height: 50%;
  position: relative;
  top: 30%;
}


